/*-----------NAVBAR------------*/
.navbar-fixed-left {
    width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 150px;
}
nav.navbar {
    top: 0;
    background: dimgray;
}

/* change navbar background on collapse */
@media (max-width: 990px) {
    nav.navbar {
        top: 3%;
        background: transparent;
    }
}

/*-----------NAVBAR LINKS------------*/
nav.navbar-brand {
    color: black;
}

.navbar ul li a {
    color: black;
}


/*-----------SEARCH------------*/
.search-input{
    position: fixed;
    right: 30px;
    top: 3%;
}

/*-----------Main Content Area------------*/
.container {
    height: 1000px;
}

#expenses, #goal, #household, #settings, #login {
    margin-top: 100px;
}




